.posts {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    // Default
    border-bottom: 1px solid $light-border-color;

    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid $dark-border-color;
    }

    @media (prefers-color-scheme: light) {
      border-bottom: 1px solid $light-border-color;
    }

    [data-theme=dark] & {
      border-bottom: 1px solid $dark-border-color;
    }

    [data-theme=light] & {
      border-bottom: 1px solid $light-border-color;
    }
  }

  &-group {
    display: flex;
    margin-bottom: 1.9em;
    line-height: normal;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {
    flex-grow: 1;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .post {
    &-title {
      font-size: 1rem;
      margin: 5px 0 5px 0;
    }

    &-year {
      padding-top: 6px;
      margin-right: 1.8em;
      font-size: 1.6em;
      @include dimmed;

      @media #{$media-size-tablet} {
        margin: -6px 0 4px;
      }
    }

    &-item {
      border-bottom: 1px $dark-border-color dashed;

      @media (prefers-color-scheme: dark) {
        border-bottom: 1px $dark-border-color dashed;

      }

      @media (prefers-color-scheme: light) {
        border-bottom: 1px $light-border-color dashed;

      }


      a {
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        padding: 12px 0;
        text-decoration: none;
      }
    }

    &-day {
      flex-shrink: 0;
      margin-left: 1em;
      @include dimmed;
    }
  }
}

.projects {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 20px auto;

  @media #{$media-size-tablet} {
    max-width: 660px;
  }

  &:not(:last-of-type) {
    // Default
    border-bottom: 1px solid $light-border-color;

    @media (prefers-color-scheme: dark) {
      border-bottom: 1px solid $dark-border-color;
    }

    @media (prefers-color-scheme: light) {
      border-bottom: 1px solid $light-border-color;
    }

    [data-theme=dark] & {
      border-bottom: 1px solid $dark-border-color;
    }

    [data-theme=light] & {
      border-bottom: 1px solid $light-border-color;
    }
  }

  &-group {
    display: block;

    margin-bottom: 1.9em;
    line-height: normal;

    @media #{$media-size-tablet} {
      display: block;
    }
  }

  &-list {

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1em;
    row-gap: 1em;

    @media #{$media-size-tablet} {
      display: block;
    }

    margin: 0;
    padding: 0;
    list-style: none;
  }

  .project {
    &-year {
      padding-top: 6px;
      padding: 6px;
      margin-right: 1.8em;
      font-size: 1.6em;
      @include dimmed;

      @media #{$media-size-tablet} {
        margin: -6px 0 4px;
      }
    }

    &-title {
      font-size: 1.1rem;
      font-weight: bold;
      padding: 17px 0 17px 0;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &-image {
      @media (prefers-color-scheme: dark) {
        background-color: $dark-background-secondary;
      }

      @media (prefers-color-scheme: light) {
        background-color: $light-background-secondary;
      }

      position: absolute;
      height: 100%;
      aspect-ratio: 242/188;
      object-fit: cover;
      opacity: 1;

      transition: opacity .2s ease-out;
      -moz-transition: opacity .2s ease-out;
      -webkit-transition: opacity .2s ease-out;
      -o-transition: opacity .2s ease-out;

      &:hover {
        opacity: 0;
      }
    }

    &-desc {
      position: absolute;
      width: 90%;
      height: 100%;
      max-height: calc(100% - 12px*2);
      // padding: 12px 12px;
      // margin: 0;
      padding: 0px 12px;
      margin: 12px 12px;

      display: block;
      display: -webkit-box;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 8;
      -webkit-box-orient: vertical;

      text-align: center;
    }

    &-content {
      position: relative;
      height: 100%;
      overflow-y: hidden;
    }

    &-item {
      @media (prefers-color-scheme: dark) {
        background-color: $dark-background-secondary;
      }

      @media (prefers-color-scheme: light) {
        background-color: $light-background-secondary;
      }

      aspect-ratio: 1/1;

      @media #{$media-size-tablet} {
        margin-bottom: 1em;
      }

      text-decoration: none;

      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 4fr;
      grid-column-gap: 0px;
      grid-row-gap: 0px;
    }
  }
}