@charset "UTF-8";

/* Light theme color */
$light-background: #fff;
$light-background-secondary: #eaeaea;
$light-background-header: #fafafa;
$light-color: #222;
$light-color-variant: black;
$light-color-secondary: #999;
$light-border-color: #dcdcdc;
$light-table-color: #dcdcdc;

/* Dark theme colors */
$dark-background: #303446; // done
$dark-background-secondary: #292c3c;
$dark-background-header: #232634; // done
$dark-color: #c6d0f5; // done
$dark-color-variant: #b5bfe2; // done
$dark-color-secondary: #a5adce; // done
$dark-border-color: #737994; // done
$dark-table-color: #414559; // done

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
