@charset "UTF-8";

/* Light theme color */
$light-background: #eff1f5; // base
$light-background-secondary: #e6e9ef; // mantle
$light-background-header: #dce0e8; // crust
$light-color: #4c4f69; // text
$light-color-variant: #5c5f77; // subtext1
$light-color-secondary: #6c6f85; // subtext0
$light-border-color: #9ca0b0; // Overlay0
$light-table-color: #ccd0da; // Surface0

/* Dark theme colors */
$dark-background: #303446; // base
$dark-background-secondary: #292c3c; // mantle
$dark-background-header: #232634; // crust
$dark-color: #c6d0f5; // text
$dark-color-variant: #b5bfe2; // subtext1
$dark-color-secondary: #a5adce; // subtext0
$dark-border-color: #737994; // Overlay0
$dark-table-color: #414559; // Surface0

$media-size-phone: "(max-width: 684px)";
$media-size-tablet: "(max-width: 900px)";

/* Variables for js, must be the same as these in @custom-media queries */
:root {
  --phoneWidth: (max-width: 684px);
  --tabletWidth: (max-width: 900px);
}

/* Content */
$max-width: 860px;
